.orderStats__table_div {
  display: flex;

}

.orderStats__table_columns {
  display: flex;
  column-gap: 8px;
}

.orderStats__table_oneColumn {
  display: flex;
  flex-direction: column;
  row-gap: 8px;
}