.profileNavigation__container {
  flex: 0 0 320px;
  margin-right: 60px;
}

.logout__button {
  cursor: pointer;
  background-color: transparent;
  border: none;
}

.profileNavigation__hint {
  color: var(--text-inactive-color);
  opacity: 0.4;
}

.profileNavigation__navElement {
  min-height: 64px;
  align-items: center;
  display: flex;
}

.profileNavigation_navLink {
  text-decoration: none;
}

.profileNavigation_navLink_active {
  color: var(--text-primary-color);
}