.orderIngredient__li {
  display: flex;
  align-items: center;
  gap: 16px;
}

.orderIngredient__image {
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--background-element);
  border: 2px solid #801AB2;
  border-radius: 50%;
  overflow: hidden;
  box-sizing: border-box;
  width: 64px;
  height: 64px;
}

.orderIngredient__priceQty {
  display: flex;
  align-items: center;
  margin-left: auto;
}